.header {
  margin-bottom: 65px;
}

/* ItemList Component */
.item-list .item {
  border-top: 1px solid lightgray;
  padding: 0.75rem;
}

.item-list .item .avatar {
  display: inline-block;
  margin-right: 0.5rem;
}

.item-list .item .content {
  display: inline-block;
}

.item-list .item .content .title {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.item-list .item .content .title:hover {
  text-decoration: underline;
}

.item-list .item .content .user {
  display: inline-block;
  margin-right: 0.5rem;
}

.item-list .item .content .user span {
  color: gray;
  margin-right: 0.25rem;
}

.item-list .item .content .user a {
  color: gray;
  text-decoration: none;
}

.item-list .item .content .user a:hover {
  text-decoration: underline;
}

.item-list .item .content .date {
  color: gray;
  display: inline-block;
}

/* ItemDetailPage Component */
.item-detail-page .item {
  margin-top: 2rem;
}

.item-detail-page .item .avatar {
  display: inline-block;
  margin-right: 0.5rem;
}

.item-detail-page .item .avatar {
  display: inline-block;
}

.item-detail-page .item .username {
  color: black;
  margin-right: 1rem;
  text-decoration: none;
}

.item-detail-page .item .username:hover {
  text-decoration: underline;
}

.item-detail-page .item .date {
  color: gray;
}

.item-detail-page .item .title {
  margin-bottom: 0.5rem;
}

/* CommentList Component */
.comment-list .comment {
  margin-bottom: 1rem;
}

.comment-list .comment .header {
  margin-bottom: 0.5rem;
}

.comment-list .comment .header .creator {
  display: inline-block;
}

.comment-list .comment .header .creator .avatar {
  display: inline-block;
  margin-right: 0.5rem;
}

.comment-list .comment .header .creator .username {
  display: inline-block;
}

.comment-list .comment .header .metadata {
  display: inline-block;
}

.comment-list .comment .text {
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 0;
  padding: 1rem;
}

/* CommentForm Component */
.comment-form  .header {
  margin-bottom: 0;
}

.comment-form  .header .avatar {
  display: inline-block;
  margin-right: 0.5rem; 
}
