.header {
  margin-bottom: 65px;
}

/* ItemList Component */
.item-list .item {
  border-top: 1px solid lightgray;
  padding: 0.75rem;
}

.item-list .item .avatar {
  display: inline-block;
  margin-right: 0.5rem;
}

.item-list .item .content {
  display: inline-block;
}

.item-list .item .content .title {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.item-list .item .content .title:hover {
  text-decoration: underline;
}

.item-list .item .content .user {
  display: inline-block;
  margin-right: 0.5rem;
}

.item-list .item .content .user span {
  color: gray;
  margin-right: 0.25rem;
}

.item-list .item .content .user a {
  color: gray;
  text-decoration: none;
}

.item-list .item .content .user a:hover {
  text-decoration: underline;
}

.item-list .item .content .date {
  color: gray;
  display: inline-block;
}

/* ItemDetailPage Component */
.item-detail-page .item {
  margin-top: 2rem;
}

.item-detail-page .item .avatar {
  display: inline-block;
  margin-right: 0.5rem;
}

.item-detail-page .item .avatar {
  display: inline-block;
}

.item-detail-page .item .username {
  color: black;
  margin-right: 1rem;
  text-decoration: none;
}

.item-detail-page .item .username:hover {
  text-decoration: underline;
}

.item-detail-page .item .date {
  color: gray;
}

.item-detail-page .item .title {
  margin-bottom: 0.5rem;
}

/* CommentList Component */
.comment-list .comment {
  margin-bottom: 1rem;
}

.comment-list .comment .header {
  margin-bottom: 0.5rem;
}

.comment-list .comment .header .creator {
  display: inline-block;
}

.comment-list .comment .header .creator .avatar {
  display: inline-block;
  margin-right: 0.5rem;
}

.comment-list .comment .header .creator .username {
  display: inline-block;
}

.comment-list .comment .header .metadata {
  display: inline-block;
}

.comment-list .comment .text {
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 0;
  padding: 1rem;
}

/* CommentForm Component */
.comment-form  .header {
  margin-bottom: 0;
}

.comment-form  .header .avatar {
  display: inline-block;
  margin-right: 0.5rem; 
}

/* UserPage Component */
.user-page .img {
  margin-bottom: 0.75rem;
  width: 100%;
}

.user-page .username {
  margin: 0;
}

/* FollowingTags Component */
.following-tags .heading .label,
.following-tags .heading .count {
  display: inline-block;
}

.following-tags .tag-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.following-tags .tag-list .tag {
  background-color: lightgray;
  display: inline-block;
  padding: 0 0.25rem;
}

.following-tags .tag-list .tag a {
  color: black;
  font-size: 0.75rem;
  text-decoration: none;
}

/* TableList Component */
.table-list .item {
  border-top: 1px solid lightgray;
  padding: 0.75rem;
}

.table-list .item .avatar {
  display: inline-block;
  margin-right: 0.5rem; 
}

.table-list .item .avatar a {
  text-decoration: none;
}

.table-list .item .body {
  display: inline-block;
}

.table-list .item .body .info {
  font-size: 0.75rem;
}

.table-list .item .body .info a {
  text-decoration: none;
}

.table-list .item .body .title a {
  text-decoration: none;
}

/* SettingsProfilePage Component */
.settings-profile-page .profile .input {
  margin-bottom: 2rem;
}

.settings-profile-page .profile .input .first-name {
  display: inline-block;
  margin-right: 1rem;
}

/* SettingsMenu Component */
.settings-menu .menu-item {
  padding: 0.25rem 0.5rem;
}

.settings-menu .menu-item:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.settings-menu .menu-item a {
  color: gray;
  font-size: 0.9rem;
  text-decoration: none;
}

.settings-menu .menu-item a:hover {
  text-decoration: underline;
}

/* TitleSection Component */
.title-section .account {
  display: inline-block;
}

.title-section .account .avatar {
  display: inline-block;
}

.title-section .account .username {
  display: inline-block;
}

.title-section .account .username a {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
}

.title-section .account .username a:hover {
  text-decoration: underline;
}

.title-section .separater {
  font-size: 1.5rem;
}

.title-section .title {
  display: inline-block;
}

.title-section .title span {
  font-size: 1.5rem;
}
