/* UserPage Component */
.user-page .img {
  margin-bottom: 0.75rem;
  width: 100%;
}

.user-page .username {
  margin: 0;
}

/* SettingsProfilePage Component */
.settings-profile-page .profile .input {
  margin-bottom: 2rem;
}

.settings-profile-page .profile .input .first-name {
  display: inline-block;
  margin-right: 1rem;
}

/* SettingsMenu Component */
.settings-menu .menu-item {
  padding: 0.25rem 0.5rem;
}

.settings-menu .menu-item:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.settings-menu .menu-item a {
  color: gray;
  font-size: 0.9rem;
  text-decoration: none;
}

.settings-menu .menu-item a:hover {
  text-decoration: underline;
}

/* TitleSection Component */
.title-section .account {
  display: inline-block;
}

.title-section .account .avatar {
  display: inline-block;
}

.title-section .account .username {
  display: inline-block;
}

.title-section .account .username a {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
}

.title-section .account .username a:hover {
  text-decoration: underline;
}

.title-section .separater {
  font-size: 1.5rem;
}

.title-section .title {
  display: inline-block;
}

.title-section .title span {
  font-size: 1.5rem;
}

/* AccountPage Component */
.account-page .account .icon .img {
  display: block;
  width: 2.5rem;
}

.account-page .account .icon .upload-link a {
  font-size: 0.9rem;
  text-decoration: none;
}

.account-page .account .icon .upload-link a:hover {
  text-decoration: underline;
}

/* ProfileImageUploadPage Component */
.profile-image-upload-page .main .body .upload .img {
  margin-right: 1rem;
  width: 3rem;
}

.profile-image-upload-page .main .body .upload .file {
  display: inline-block;
}

.profile-image-upload-page .main .body .upload .file .input {
  display: block;
}

.profile-image-upload-page .main .body .upload .file .file-size {
  font-size: 0.75rem;
}

.profile-image-upload-page .main .body .btn-group .upload-btn {
  display: inline-block;
}

.profile-image-upload-page .main .body .btn-group .cancel-btn {
  border-radius: 3px;
  display: inline-block;
  padding: 0.25rem 1rem;
}

.profile-image-upload-page .main .body .btn-group .cancel-btn a {
  color: black;
  text-decoration: none;
}

.profile-image-upload-page .main .body .btn-group .cancel-btn:hover {
  background-color: lightgray;
}
